Juntando para formar um arquivo só

In [4]:
import pandas as pd

cpu = pd.read_csv('sar_stats-3_cpu.csv', sep=';')
pages = pd.read_csv('sar_stats-3_pages.csv', sep=';')
network = pd.read_csv('sar_stats-3_DEV.csv', sep=';')

In [16]:
cpu_idle = cpu[["timestamp", "%idle"]]
pgfree = pages[['timestamp', 'pgfree/s']]
eth1_rx = network[['timestamp','rxkB/s']]

merged_df = pd.merge(cpu_idle, pgfree, on='timestamp', how='inner')
merged_df = pd.merge(merged_df, eth1_rx, on='timestamp', how='inner')

In [17]:
merged_df

                   timestamp  %idle  pgfree/s   rxkB/s
0    2024-10-11 10:30:30 UTC  97.24    6544.0     0.00
1    2024-10-11 10:30:30 UTC  97.24    6544.0  1273.73
2    2024-10-11 10:30:30 UTC  97.24    6544.0     0.00
3    2024-10-11 10:30:31 UTC  97.52    3519.0     0.00
4    2024-10-11 10:30:31 UTC  97.52    3519.0   332.48
..                       ...    ...       ...      ...
265  2024-10-11 10:31:58 UTC  99.42     539.0     9.46
266  2024-10-11 10:31:58 UTC  99.42     539.0     0.00
267  2024-10-11 10:31:59 UTC  99.25     103.0     0.00
268  2024-10-11 10:31:59 UTC  99.25     103.0    11.39
269  2024-10-11 10:31:59 UTC  99.25     103.0     0.00

[270 rows x 4 columns]

In [18]:
cpu_idle = cpu[["timestamp", "%idle"]]
pgfree = pages[['timestamp', 'pgfree/s']]
eth1_rx = network[['timestamp','rxkB/s']]

outer_df = pd.merge(cpu_idle, pgfree, on='timestamp', how='outer')
outer_df = pd.merge(merged_df, eth1_rx, on='timestamp', how='outer')

In [19]:
outer_df

                   timestamp  %idle  pgfree/s  rxkB/s_x  rxkB/s_y
0    2024-10-11 10:30:30 UTC  97.24    6544.0      0.00      0.00
1    2024-10-11 10:30:30 UTC  97.24    6544.0      0.00   1273.73
2    2024-10-11 10:30:30 UTC  97.24    6544.0      0.00      0.00
3    2024-10-11 10:30:30 UTC  97.24    6544.0   1273.73      0.00
4    2024-10-11 10:30:30 UTC  97.24    6544.0   1273.73   1273.73
..                       ...    ...       ...       ...       ...
805  2024-10-11 10:31:59 UTC  99.25     103.0     11.39     11.39
806  2024-10-11 10:31:59 UTC  99.25     103.0     11.39      0.00
807  2024-10-11 10:31:59 UTC  99.25     103.0      0.00      0.00
808  2024-10-11 10:31:59 UTC  99.25     103.0      0.00     11.39
809  2024-10-11 10:31:59 UTC  99.25     103.0      0.00      0.00

[810 rows x 5 columns]